@if (items.length > 0) {
  <nav class="breadcrumb">
    @for (item of items; track $index; let last = $last) {
      <span class="breadcrumb-item">
        @if (item.url && !last) {
          <a [href]="item.url" class="breadcrumb-link">
            {{ item.label }}
          </a>
        }
        @if (!item.url || last) {
          <span class="breadcrumb-current">
            {{ item.label }}
          </span>
        }
        @if (!last) {
          <span class="breadcrumb-separator">></span>
        }
      </span>
    }
  </nav>
}